kitty +kitten ssh <USERNAME>@<IP_ADDRESS> -p <PORT_ADDRESS>
kitty +kitten ssh <USERNAME>@<IP_ADDRESS> -p <PORT_ADDRESS> 
kitty +kitten ssh <USERNAME>@<IP_ADDRESS> -p <PORT_ADDRESS> 
kitty +kitten ssh <USERNAME>@<IP_ADDRESS> -p <PORT_ADDRESS> 
.
.
.
